body {
  font-family: 'Arial', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.page-section {
  padding: 40px 0;
}

.split-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.split-section .text-section,
.split-section .image-section {
  flex: 1;
}

@media (max-width: 768px) {
  .split-section {
      flex-direction: column;
  }
}

.problem-text {
  color: red;
}

body {
  padding-top: 70px; /* ヘッダーの高さに応じて調整 */
}

iframe {
  width: 100%;
  height: 300px; /* 必要に応じて高さを調整 */
  border: 0;
}